<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="ons">
            <file>tests/Ons/AuthorizationTest.php</file>
            <file>tests/Ons/ProducerTest.php</file>
            <file>tests/Ons/ConsumerTest.php</file>
            <file>tests/Ons/ConfirmationTest.php</file>
            <file>tests/Ons/ResponseTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src/Ons</directory>
        </whitelist>
    </filter>
</phpunit>
